@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');

:root {
  --base: #21ce99;
  --border: 0px;
  --blur: 15px;
}

body {
  text-align: center;
  background: #1B1B1D;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
}

.headline {
  margin-top: 20px;
  font-weight: 600;
}

.tagline {
  margin-top: -40px;
  font-size: 32px;
}

.controls {
  margin: 40px 0;
  font-size: 32px;
  font-weight: 500;
}

.eye-chart {
  margin-bottom: 20px;
  padding: var(--border);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

input {
  width:100px;
}
