@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');

body {
  text-align: center;
  background: #1B1B1D;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
}

.headline {
  margin-top: 20px;
}

.tagline {
  margin-top: -40px;
  font-size: 32px;
}

.controls {
  margin: 40px 0;
  font-size: 32px;
  font-weight: 500;
}

.eye-chart {
  margin-bottom: 20px;
}

input {
  width:100px;
}
